# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore data directories
projects/data/*.db
projects/**/training/bad_keys/*.txt
projects/**/training/scalers/*.pkl
projects/**/training/prepped_data/*.tfrecord
projects/**/training/iterations
projects/**/evaluation/predictions